
<h1> <%= @patient.name %>'s Detail </h1>

    <p> Name : <%= @patient.name %> </p>
    <p> Email : <%= @patient.email %> </p>
    <p> Phone: <%= @patient.phone %> </p>
    <p> Address : <%= @patient.address %> </p>

    <form action="/appointment" method="POST">
        <input type="hidden" id="hidden" name="patient[id]" value="<%= @patient.id %>">
        <div class="form-group">
            <label for="password"> Appointment </label>
            <input type="text" class="form-control" name="appointment[date]" placeholder="YYYY/MM/DD">
        </div>
        <% @patient.staff.each do |staff| %>
            <input type="hidden" id="hidden" name="staff[medical_id]" value="<%= staff.medical_id %>">
            <div class="form-group">
                <label for= "<%= staff.medical_id %>" > <%= staff.name %> </label>
                <input type="radio" class="form-control" id="<%= staff.medical_id %>" value="<%= staff.medical_id %>" >
            </div>
        <% end %>
        <input type="submit" value="submit">
    </form>
    <button><a href="/patients/<%=@patient.slug/edit"> Edit Patient </a></button>


