<% if logged_in? %>

    <% if flash.has_key?(:message) %>
        <div class="alert alert-success" role="alert">
            <%=flash[:message]%>
        </div>
    <% end %>
    
    <% if current_user.staff_id %>
        <a href="/staffs/patients/<%=@patient.id%>/edit" class="btn btn-primary" role="button" aria-pressed="true">Edit Patient Info</a>
    <% end %>
    <h3> CREATE NEW APPOINTMENT </h3>

  
    <% if current_user.staff_id %>
                <div> 
                    <p> Patient Name: <%= @patient.name %> </p>
                    <p> Patient Address: <%= @patient.address %> </p>
                </div>
    <% end %>
    
    <form action="/appointments/<%=@patient.id%>" method="POST">
            
            <div class="form-group">
                <label for="appointment_date"> Date: </label>
                <input type="date" id="appointment_date" class="form-control" name="appointment[date]">
            </div>
            <div>
                <label> Choose a Practitioner </label>
            </div>
            <% @staffs.each do |staff| %>
                <% if staff.is_doctor %>
                    
                    <input type="radio" id="<%= staff.id %>" value=<%= staff.id %> name="staff[id]">
                    <label for ="<%= staff.id %>" ><%= staff.name %></label>
                    <br>
                <% end %>
            <% end %>
            <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    
<% end %>






